resources/drg_samples/CCR003-Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    *******************************************************************
    *
    *    Schema for: Data Item CCR003 Consumer Credit data: Lenders
    *
    *    Version:    2
    *    Date:       01 June 2016 
    *
    *    History:    Version  2 follows publication of CP16/8 
                     Version  1 follows publication of CP13/10
    *                
    *
    *******************************************************************
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified" targetNamespace="urn:fsa-gov-uk:MER:CCR003:2"
    xmlns="urn:fsa-gov-uk:MER:CCR003:2" xmlns:mer-meta="urn:fsa-gov-uk:MER:Meta-Data:1" version="2"
    id="MER-CCR003">
    <xs:annotation>
        <xs:documentation>
            <mer-meta:DataItemReference>CCR003</mer-meta:DataItemReference>
            <mer-meta:DataItemName>Consumer Credit data: Lenders</mer-meta:DataItemName>
        </xs:documentation>
    </xs:annotation>

    <xs:include schemaLocation="../../CommonTypes/v11/CommonTypes-Schema.xsd"/>
    <xs:element name="CCR003-Lenders">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Activities" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DebtPurchasing" type="LoanStructure" minOccurs="0"/>
                            <xs:element name="HirePurchaseCondSaleAgreements" type="LoanStructure"
                                minOccurs="0"/>
                            <xs:element name="HomeCreditLoanAgreements" type="LoanStructure"
                                minOccurs="0"/>
                            <xs:element name="BillOfSaleLoanAgreements" type="LoanStructure"
                                minOccurs="0"/>
                            <xs:element name="Pawnbroking" type="LoanStructure" minOccurs="0"/>
                            <xs:element name="HighCostShortTermCredit" type="LoanStructure"
                                minOccurs="0"/>
                            <xs:element name="Overdrafts" type="LoanStructure"
                                minOccurs="0"/>
                            <xs:element name="OtherRunningAccountCredit" type="LoanStructure"
                                minOccurs="0"/>
                            <xs:element name="OtherLending" type="LoanStructure" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ChargingOrders" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="UseChargingOrders" type="YesNoType" minOccurs="1"/>
                            <xs:element name="HowManyIssued" type="NonNegativeIntegerType"
                                minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="BasisCurrencyAndUnitsAttrGroup"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="LoanStructure">
        <xs:sequence>
            <xs:element name="TotalValue" type="MonetaryType" minOccurs="0"/>
            <xs:element name="TotalNumberOfLoans" type="NonNegativeIntegerType" minOccurs="0"/>
            <xs:element name="TotalNumberOfLoansInArrears" type="NonNegativeIntegerType"
                minOccurs="0"/>
            <xs:element name="TotalValueInArrears" type="MonetaryType" minOccurs="0"/>
            <xs:element name="ValueOfNewAdvances" type="MonetaryType" minOccurs="0"/>
            <xs:element name="AveAnnualRateOfCharge" type="PercentDP0Type" minOccurs="0"/>
            <xs:element name="HighestAnnualRateOfCharge" type="PercentDP0Type" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
