resources/drg_samples/FSA039-Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    *******************************************************************
    *                                                                 
    *    Schema for: Data Item FSA039-ClientMoneyClientAssets                    
    *                                                                 
    *    Version:    1 
    *    Date:       12 October 2007                                 
    *                                                                 
    *    History:     
    *                Version 1 follows publication of legal 
    *                instrument 2007/10
    *                                                                 
    *                                                                 
    *******************************************************************
-->

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    
    targetNamespace="urn:fsa-gov-uk:MER:FSA039:1"
    xmlns=          "urn:fsa-gov-uk:MER:FSA039:1" 
    xmlns:mer-meta= "urn:fsa-gov-uk:MER:Meta-Data:1" 
    
    version="1" 
    id="MER-FSA039">
    
    <xs:annotation>
        <xs:documentation>
            <mer-meta:DataItemReference>FSA039</mer-meta:DataItemReference>
            <mer-meta:DataItemName>Client Money and Client Assets</mer-meta:DataItemName>
        </xs:documentation>
    </xs:annotation>
    
    <xs:include schemaLocation="../../CommonTypes/v2/CommonTypes-Schema.xsd"/>
    
    <xs:element name="FSA039-ClientMoneyClientAssets">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MoneyAssetsHeld" minOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="no"/>
                            <xs:enumeration value="yes - client assets"/>
                            <xs:enumeration value="yes - client money"/>
                            <xs:enumeration value="yes - both"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="UndertakeStockLending" type="YesNoType" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
