resources/drg_samples/RMA-F-Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    *******************************************************************
    *
    *    Schema for: Data Item RMA-F-ThresholdConditions
    *
    *    Version:    2
    *    Date:       01 December 2012       
    *
    *    History:    Version 2 Label changes for FCANotified
    *                          Added currency attributes 
    *                Version 1 follows publication of CP07/17
    *
    *******************************************************************
-->

<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified" 
    
    targetNamespace="urn:fsa-gov-uk:MER:RMA-F:2" 
    xmlns=          "urn:fsa-gov-uk:MER:RMA-F:2" 
    xmlns:mer-meta= "urn:fsa-gov-uk:MER:Meta-Data:1" 
    
    version="2" 
    id="MER-RMA-F">
    
    <xs:annotation>
        <xs:documentation>
            <mer-meta:DataItemReference>RMA-F</mer-meta:DataItemReference>
            <mer-meta:DataItemName>ThresholdConditions</mer-meta:DataItemName>
        </xs:documentation>
    </xs:annotation>
    
    <xs:include schemaLocation="../../CommonTypes/v6/CommonTypes-Schema.xsd"/>

    <xs:element name="RMA-F-ThresholdConditions">
        <xs:complexType>
            <xs:sequence>
                 <xs:element name="CloseLinks" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Changes"      type="YesNoType"  minOccurs="1"/>
                            <xs:element name="FCANotified"   type="YesNoType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Controllers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Changes"       type="YesNoType" minOccurs="1"/>
                            <xs:element name="FCANotified"   type="YesNoType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="CurrencyAndUnitsAttrGroup"/>
        </xs:complexType>
        
    </xs:element>

</xs:schema>
